body {
	color: #666666;
	font-family: "Lato", sans-serif;
	font-weight: 300;
	margin: 0;
}
img {
    max-width: 90%;
}
#branding {
    text-align: center;
}
h2 {
    color: #f26722;
    font-size: 27px;
    font-weight: 400;
    margin: 0;
    position: relative;
    top: -10px;
}
#navigation {
    background-color: #263692;
}
#main-menu {
    display: none;
}
#navigation {
    background-color: #263692;
}
#navigation > a {
    color: #ffffff;
    display: block;
    font-size: 20px;
    font-weight: 300;
    margin-top: 30px;
    padding: 10px;
    text-align: center;
    text-decoration: none;
}
#navigation > .container {
    margin: 0;
}
ul {
    list-style-type: none;
    margin: 0;
}
li > a {
    color: #ffffff;
    display: block;
    font-size: 20px;
    margin-left: -40px;
    padding: 10px;
    text-align: center;
    text-decoration: none;
}
.active, a:hover, a:active, a:focus {
    background-color: #f26722;
}
.container {
    margin: 10px 10px 30px;
}
.banner-content {
    margin-top: 5px;
}
#banner > img {
    max-width: 94%;
    position: relative;
    top: -10px;
    z-index: -1;
}
p {
    font-size: 13px;
    font-weight: 400;
    letter-spacing: 0.25px;
    line-height: 18px;
    margin-top: 0;
    padding-bottom: 16px;
    padding-left: 2px;
    padding-right: 2px;
}
#sidebar {
    background-color: #263692;
    color: #ffffff;
    position: relative;
    top: -10px;
}
#news {
    padding: 24px 10px 10px;
}
#news > h2 {
    color: #ffffff;
    margin: 0;
}
#news > p {
    margin-bottom: 0;
    padding-bottom: 0;
}
#news > a {
    background-color: rgba(0, 0, 0, 0);
    color: #f26722;
    display: block;
    font-size: 0.8em;
    font-weight: 400;
    text-align: right;
    text-decoration: none;
    width: 100%;
}
#news > a:hover, #news > a:active, #news > a:focus {
	color: #ffffff;
}
#footer {
    background-color: #666666;
    color: #eeeeee;
    margin-top: 6px;
    padding-top: 7px;
    position: relative;
    text-align: center;
    top: -23px;
}
#footer > p {
	font-size: .9em;
}